<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.zhenya.rest.db.dao.mapper.DepartmentMapper">

    <resultMap id="departmentResultMap" type="com.zhenya.model.db.entity.Department">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
 
    <select id="getAll" resultMap="departmentResultMap">
        SELECT departments.id, departments.name FROM departments;
    </select>
    
 	<select id="selectById" parameterType="long" resultMap="departmentResultMap">
 		SELECT departments.id, departments.name FROM departments
 		WHERE id = #{id};
    </select>
    
    <delete id="delete" parameterType="long">
 		DELETE FROM departments
 		WHERE id = #{id};
    </delete>
    
    <update id="update" parameterType="com.zhenya.model.db.entity.Department" >
      UPDATE departments
      SET     name = #{name} 
      WHERE  id = #{id};
    </update>
    
     <insert id="insert" parameterType="com.zhenya.model.db.entity.Department"
     		 useGeneratedKeys="true" keyProperty="id">
      INSERT INTO departments(name)
      values (#{name})
     </insert>
     

</mapper>