<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhenya.rest.db.dao.mapper.EmployeeMapper">

	<resultMap id="employeeResultMap" type="com.zhenya.model.db.entity.Employee">
		<result property="id" column="id" />
		<result property="deptId" column="deptId" />
		<result property="name" column="name" />
		<result property="patronymic" column="patronymic" />
		<result property="surname" column="surname" />
		<result property="birth" column="birth" />
		<result property="salary" column="salary" />
	</resultMap>

	<select id="getAll" resultMap="employeeResultMap">
		SELECT employees.id, employees.deptId, employees.name, employees.patronymic,
		employees.surname, employees.birth, employees.salary FROM employees;
	</select>

	<select id="getById" parameterType="long" resultMap="employeeResultMap">
		SELECT employees.id, employees.deptId, employees.name, employees.patronymic,
		employees.surname,
		employees.birth, employees.salary FROM employees
		WHERE id = #{id};
	</select>

	<delete id="delete" parameterType="long">
		DELETE FROM employees
		WHERE id = #{id};
	</delete>

	<update id="update" parameterType="com.zhenya.model.db.entity.Employee">
		UPDATE employees
		SET deptId = #{deptId}, name = #{name},
		patronymic = #{patronymic}, surname = #{surname},
		birth = #{birth}, salary = #{salary}
		WHERE id = #{id};
	</update>

	<insert id="insert" parameterType="com.zhenya.model.db.entity.Employee">
		INSERT INTO employees( deptId, name, patronymic, surname, birth, salary)
		values (#{deptId}, #{name}, #{patronymic}, #{surname}, #{birth},
		#{salary})
	</insert>

	<select id="findOfBirth" parameterType="java.util.Date"
		resultMap="employeeResultMap">
		SELECT 	employees.id, employees.deptId, employees.name, employees.patronymic,
				employees.surname,
				employees.birth, employees.salary 
		FROM
				employees
		WHERE
				birth = #{birth};
	</select>
	
</mapper>